<footer>
  <div>
    <!-- Buy -->
    <h4>Buy</h4>
    <ul>
      <li><a href="#">Registration</a></li>
      <li><a href="#">Buying Help</a></li>
      <li><a href="#">Stores</a></li>
      <li><a href="#">Seasonal Sales & Events</a></li>
    </ul>
  </div>

  <div>
    <!-- Sell -->
    <h4>Sell</h4>
    <ul>
      <li><a href="#">Start Selling</a></li>
      <li><a href="#">How to Sell</a></li>
      <li><a href="#">Business Sellers</a></li>
    </ul>
  </div>

  <div>
    <!-- Tools & Apps -->
    <h4>Tools & Apps</h4>
    <ul>
      <li><a href="#">Developers</a></li>
      <li><a href="#">Security Center</a></li>
      <li><a href="#">Site Map</a></li>
    </ul>
  </div>

  <div>
    <!-- Company -->
    <h4>About Us</h4>
    <ul>
      <li><a href="#">Company Info</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Investors</a></li>
      <li><a href="#">Global Impact</a></li>
      <li><a href="#">Advertise With Us</a></li>
      <li><a href="#">Policies</a></li>
    </ul>
  </div>

  <div>
    <!-- Help & Contact -->
    <h4>Help & Contact</h4>
    <ul>
      <li><a href="#">Seller Center</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Returns</a></li>
      <li><a href="#">Money Back Guarantee</a></li>
    </ul>
  </div>

  <div>
    <!-- Community -->
    <h4>Community</h4>
    <ul>
      <li><a href="#">Announcements</a></li>
      <li><a href="#">User Forum</a></li>
      <li><a href="#">Business Podcast</a></li>
    </ul>
  </div>

  <div>
    <!-- Stay Connected -->
    <h4>Stay Connected</h4>
    <ul>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">LinkedIn</a></li>
    </ul>
  </div>

  <div>
    <!-- Copyright -->
    <p>© <%= new Date().getFullYear() %> MyShop. All Rights Reserved.</p>
    <ul>
      <li><a href="#">Accessibility</a></li>
      <li><a href="#">User Agreement</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">Terms of Use</a></li>
    </ul>
  </div>
</footer>
